.row.justify-content-center{
  margin-left: 0;
  margin-right: 0;
}
.row.spacing{
  padding-top: 20px;
  padding-bottom: 20px;
}
div.spacing{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}
.row.spacing div.spacing{
  /* Make it so two items in a row take up the whole row*/
  width:50%;
}
.container-fadeout{
  position:relative;
  margin:auto;
  padding:0;
  width: 100%;
}
.fadeout-img{
  display: block;
  width: 100%;
}
.overlay{
  opacity:0;
  transition: 0.3s;
  height: 100%;
  width: 100%;
  position:absolute;
  right: 0;
  top:0;
  left: 0;
  bottom: 0;
}
.overlay:hover {
  opacity: 1;
}
.overlay p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay#kelp{
  background-color: #58aa95;
}
.overlay#clouds{
  background-color: #bac4da;
}
.overlay#fish{
  background-color: #5de4b8;
}
.overlay#quentin{
  background-color: #ff8c49;
}
.overlay#ruler{
  background-color: #34323d;
  p{color:white;}
}
.overlay#arttrade{
  background-color: #0401dd;
  p{color:white;}
}

/* TEXT */
@media screen and (max-width: 575px) {
  div.overlay p{
    font-size: 70%;
  }
  div.overlay#ruler p, .overlay#quentin p {font-size: 60%;}
  .row.spacing{
    padding-top: 0;
    padding-bottom: 0;
  }
  .row .spacing{
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (min-width: 576px) {
  div.overlay p{
    font-size: 80%;
  }
}
@media only screen and (min-width: 768px) {
  div.overlay p{
    font-size: 110%;
  }
}
@media only screen and (min-width: 992px) {
  div.overlay p{
    font-size: 130%;
  }
}