/* Colors:
Alabaster Grey: D8DBE2
Pacific Blue: 58A4B0
Charcoal Blue: 373F51
Carbon Black: 1B1B1E
*/
html{
        height: 100%;
        width: 100%;
}
h1{
  color: #373F51;
  margin:0;
  text-align: center;
  font-family: "Trebuchet MS", Verdana, Tahoma, sans-serif;
}
body.container {
  background-color: #D8DBE2;
  margin: 0px 0px 0px 0px;
  width: 100%;
  padding: 0;
}
p {
  color: #1B1B1E;
  margin-left: 30px;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
  font-family: "Trebuchet MS", Verdana, Tahoma, sans-serif;
}
/* HEADER */
header#menu {
  list-style-type: none;
  margin:0;
  background-color: #373F51;
  height: 40px;
  overflow: hidden;
  margin-bottom: 40px;
}
header#menu li{
  float: left;
}
header#menu li a{
  display: block;
  color: #D8DBE2;
  text-decoration: none;
  padding: 8px;
  text-align: center;
  font-family: "Trebuchet MS", Verdana, Tahoma, sans-serif;
}

header#menu li a:hover{
  background-color: #58A4B0;
  color: #373F51;
}

/* FOOTER */
footer {
  background-color: #373F51;
  margin: 0;
}
footer p {
  margin-top:0px;
  margin-bottom: 0px;
}
footer p a{
  color: #D8DBE2;
  text-decoration: none;
  font-family: "Trebuchet MS", Verdana, Tahoma, sans-serif;
  margin-left: 30px;
}

/* RESPONSIVENESS */
@media screen and (min-width: 570px) {
  /* override whatever's going on with the body that makes it smaller */
  .container{
    min-width: 100%;
  }
}

/* SMALLER-SMALLEST SCREENS */ 
@media screen and (max-width: 460px) {
  header#menu li a {
    font-size: 80%;
  }
  header#menu {
    height: 35px;
  }
}

@media screen and (max-width: 370px) {
  header#menu li a {
    font-size: 70%;
  }
  header#menu {
    height: 32px;
  }
}

@media screen and (max-width: 335px) {
  header#menu li a {
    font-size: 60%;
  }
  header#menu {
    height: 30px;
  }
}

/* BIGGER-BIGGEST SCREENS */
