/* Colors:
Alabaster Grey: D8DBE2
Pacific Blue: 58A4B0
Charcoal Blue: 373F51
Carbon Black: 1B1B1E 
*/
html{
	height: 100%;
	width: 100%;
}
h1{
  color: #373F51;
  margin: 50px 50px;
  width: 100%;
}
body.container {
  background-color: #D8DBE2;
  margin: 0px 0px 0px 0px;
  width: 100%;
}
p {
  color: #1B1B1E; 
  margin-left: 30px;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
}
/* HEADER */
header#menu {
  list-style-type: none;
  margin:0;
  width:100%;
  background-color: #373F51;
}
header#menu li{
  float: left;
}
header#menu li a{
  display: block;
  color: #1B1B1E;
  text-decoration: none;
  padding: 8px;
  text-align: center;
}
/* FOOTER */
footer {
  background-color: #373F51;
  margin: 0;
}
h2#footertitle{
  color: #D8DBE2;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 80%;
}
h2 div {
  margin: 0px 30px;
}
div a{
  color: #D8DBE2; 
  text-decoration: none;
  font-size: 80%;
}
