/* Colors:
Alabaster Grey: D8DBE2
Pacific Blue: 58A4B0, or 6DB0BA for lighter version for more readability
Charcoal Blue: 373F51
Carbon Black: 1B1B1E
*/
html{
  width: 100%;
  height: 100%;
}
h1{
  color: #373F51;
  margin:0;
  text-align: center;
  font-family: "Trebuchet MS", Verdana, Tahoma, sans-serif;
}
body.container {
  background-color: #D8DBE2;
  margin: 0px 0px 0px 0px;
  height: 100%;
  padding: 0;
}
.content{
  margin-left: auto;
  margin-right: auto;
}
/* NAVBAR */
ul#menu {
  list-style-type: none;
  margin:0;
  margin-bottom: 40px;
  background-color: #373F51;
  height: 40px;
  width: 100%;
  overflow: hidden;
  padding: 0;
}
ul#menu li{
  float: left;
}
ul#menu li a{
  display: block;
  color: #D8DBE2;
  text-decoration: none;
  padding: 8px;
  text-align: center;
  font-family: "Trebuchet MS", Verdana, Tahoma, sans-serif;
}

ul#menu li a:hover, ul#menu li a.active{
  background-color: #6DB0BA;
  color: #1B1B1E;
}

/* IMAGE CONTENT */
img#pfp{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 500px;
  margin-bottom: 10px;
}

div.card{
  box-shadow: 10px 10px 5px #373f5146;
  transition: 0.3s;
  background-color: white;
  padding:0;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

div.card:hover{
  box-shadow: 10px 10px 5px rgba(31, 38, 53, 0.5);
}

div.textbox{
  background-color: #dbe6ff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.sticker{
  background-color: white;
}

/* TEXT */
p {
  color: #1B1B1E;
  margin-left: 0px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  font-family: "Trebuchet MS", Verdana, Tahoma, sans-serif;
}
p.flavor{
  opacity: 0.7;
  font-style: italic;
}
p.flavor-center{
  opacity: 0.8;
  margin-left: 30px;
  margin-right: 30px;
  font-style: italic;
  text-align: center;
}

/* FOOTER */
body div.not-footer{
  min-height: 100%;
  margin-left: 0;
  margin-right: 0;
  min-width: 100%;
}
.not-footer.long { 
  /* the long class for not-footer just means there's enough content to push footer down, so the negative margin is not needed */
  margin-bottom: 60px;
}

footer.row{
  margin-top:-40px;
  margin-left:0;
  margin-right:0;
  padding: 0;
}

footer ul {
  list-style-type: none;
  margin:0;
  margin-bottom: 0;
  background-color: #373F51;
  height: 40px;
  width: 100%;
  overflow: hidden;
  padding: 0;
}
footer ul.container{ padding: 0; }
footer ul li{
  float: left;
}
footer ul li a{
  display: block;
  color: #D8DBE2;
  text-decoration: none;
  padding: 8px;
  text-align: center;
  font-family: "Trebuchet MS", Verdana, Tahoma, sans-serif;
}

/* RESPONSIVENESS */
@media screen and (min-width: 570px) {
  /* override whatever's going on with the body that makes it smaller */
  .container{
    min-width: 100%;
  }
}

/* SMALLER-SMALLEST SCREENS */ 
@media screen and (max-width: 460px) {
  ul#menu li a, footer ul li a {
    font-size: 80%;
  }
  ul#menu, footer ul {
    height: 32px;
  }
  div.not-footer.long{margin-bottom: 32px;}
  footer.row{
    margin-top: -32px;
  }
}

@media screen and (max-width: 370px) {
  ul#menu li a, footer ul li a {
    font-size: 70%;
  }
  ul#menu, footer ul {
    height: 30px;
  }
  div.not-footer.long{margin-bottom: 30px;}
  footer.row{
    margin-top: -30px;
  }
}

@media screen and (max-width: 335px) {
  ul#menu li a, footer ul li a {
    font-size: 60%;
  }
  ul#menu, footer ul {
    height: 28px;
  }
  div.not-footer.long{margin-bottom: 28px;}
  footer.row{
    margin-top: -28px;
  }
}

/* BIGGER-BIGGEST SCREENS */
@media screen and (min-width: 400px) {
  ul#menu li a, footer ul li a {
    font-size: 90%;
  }
  ul#menu, ul{
    height: 38px;
  }
  h1.col-12{
    font-size: 200%;
  }
  div.not-footer.long{margin-bottom: 38px;}
  footer.row{
    margin-top: -38px;
  }
}
@media screen and (min-width: 500px) {
  ul#menu li a, footer ul li a {
    font-size: 100%;
    padding: 10px;
  }
  ul#menu, footer ul {
    height: 40px;
  }
  h1.col-12{
    font-size: 210%;
  }
  div.not-footer.long{margin-bottom: 40px;}
  footer.row{
    margin-top: -40px;
  }
}
@media screen and (min-width: 600px) {
  ul#menu li a, footer ul li a {
    font-size: 110%;
    padding: 14px;
  }
  ul#menu, footer ul {
    height: 54px;
  }
  h1.col-12{
    font-size: 220%;
  }
  div.not-footer.long{margin-bottom: 54px;}
  footer.row{
    margin-top: -54px;
  }
}
@media screen and (min-width: 768px) {
  ul#menu li a, footer ul li a {
    font-size: 130%;
    padding: 18px;
  }
  ul#menu, footer ul {
    height: 67px;
  }
  h1.col-12{
    font-size: 300%;
  }
  .not-footer p {
    font-size: 130%;
  }
  div.not-footer.long{margin-bottom: 67px;}
  footer.row{
    margin-top: -67px;
  }
  img#pfp{
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 992px) {
  ul#menu li a, footer ul li a{
    padding-right: 30px;
    padding-left: 30px;
  }
  ul#menu {
    margin-bottom: 50px;
  }
  h1.col-12{
    font-size: 400%;
  }
  .not-footer p {
    font-size: 150%;
  }
  img#pfp{
    margin-bottom: 20px;
  }
  .fullscreen-landscape{
    max-width: 80%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
}
 /* wide screens */
@media screen and (min-width: 1000px) and (max-height: 850px){
    body div.not-footer{
      margin-bottom: 67px;
    }
 }
 @media screen and (min-width: 900px) and (max-height: 720px){
    body div.not-footer{
      margin-bottom: 67px;
    }
 }
@media screen and (min-width: 800px) and (max-height: 826px){
    body div.not-footer{
      margin-bottom: 67px;
    }
 }
@media screen and (min-width: 700px) and (max-height: 620px){
    body div.not-footer{
      margin-bottom: 67px;
    }
 }
