/* Colors:
Alabaster Grey: D8DBE2
Pacific Blue: 58A4B0, or 6DB0BA for lighter version for more readability
Charcoal Blue: 373F51
Carbon Black: 1B1B1E
*/
html{
  width: 100%;
  height: 100%;
}
h1{
  color: #373F51;
  margin:0;
  text-align: center;
  font-family: "Trebuchet MS", Verdana, Tahoma, sans-serif;
}
body.container {
  background-color: #D8DBE2;
  margin: 0px 0px 0px 0px;
  height: 100%;
  padding: 0;
}
.content{
  margin-left: auto;
  margin-right: auto;
}
p {
  color: #1B1B1E;
  margin-left: 0px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  font-family: "Trebuchet MS", Verdana, Tahoma, sans-serif;
}
p.flavor{
  opacity: 0.8;
  font-style: italic;
  text-align: center;
}
/* HEADER */
header#menu {
  list-style-type: none;
  margin:0;
  margin-bottom: 40px;
  background-color: #373F51;
  height: 40px;
  width: 100%;
  overflow: hidden;
  padding: 0;
}
header#menu li{
  float: left;
}
header#menu li a{
  display: block;
  color: #D8DBE2;
  text-decoration: none;
  padding: 8px;
  text-align: center;
  font-family: "Trebuchet MS", Verdana, Tahoma, sans-serif;
}

header#menu li a:hover, header#menu li a.active{
  background-color: #6DB0BA;
  color: #1B1B1E;
}

/* FOOTER */
body div.not-footer{
  min-height: 100%;
  margin-left: 0;
  margin-right: 0;
  min-width: 100%;
}
footer.row {
  background-color: #373F51;
  margin: 0;
  margin-top: -34px;
  padding-top: 5px;
  padding-bottom: 5px;
}
footer.row p {
  margin-top:0px;
  margin-bottom: 0px;
  font-family: "Trebuchet MS", Verdana, Tahoma, sans-serif;
  margin-left: 30px;
  margin-right: 30px;
}
footer.row p a {
    color: #D8DBE2;
    text-decoration: none; 
  }

/* IMAGES */
img.landscape {

}
img.square{
    
}
img#pfp{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 500px;
  margin-bottom: 10px;
}

/* TEXT */
body div {
  width: 80%;
  margin: auto;
}

/* RESPONSIVENESS */
@media screen and (min-width: 570px) {
  /* override whatever's going on with the body that makes it smaller */
  .container{
    min-width: 100%;
  }
}

/* SMALLER-SMALLEST SCREENS */ 
@media screen and (max-width: 460px) {
  header#menu li a {
    font-size: 80%;
  }
  header#menu {
    height: 32px;
  }
}

@media screen and (max-width: 370px) {
  header#menu li a {
    font-size: 70%;
  }
  header#menu {
    height: 30px;
  }
}

@media screen and (max-width: 335px) {
  header#menu li a {
    font-size: 60%;
  }
  header#menu {
    height: 28px;
  }
}

/* BIGGER-BIGGEST SCREENS */
@media screen and (min-width: 400px) {
  header#menu li a {
    font-size: 90%;
  }
  header#menu {
    height: 38px;
  }
  h1.col-12{
    font-size: 200%;
  }
}
@media screen and (min-width: 500px) {
  header#menu li a {
    font-size: 100%;
    padding: 10px;
  }
  header#menu {
    height: 40px;
  }
  h1.col-12{
    font-size: 210%;
  }
}
@media screen and (min-width: 600px) {
  header#menu li a {
    font-size: 110%;
    padding: 14px;
  }
  header#menu {
    height: 54px;
  }
  h1.col-12{
    font-size: 220%;
  }
}
@media screen and (min-width: 768px) {
  header#menu li a {
    font-size: 130%;
    padding: 18px;
  }
  header#menu {
    height: 67px;
  }
  h1.col-12{
    font-size: 300%;
  }
  .not-footer p {
    font-size: 130%;
  }
  footer.row {
    margin-top: -44px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  footer.row p {
    font-size: 120%;
    margin-left: 30px;
    margin-right: 30px;
  }
  img#pfp{
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 992px) {
  header#menu li a {
    padding-right: 30px;
    padding-left: 30px;
  }
  header#menu {
    margin-bottom: 50;
  }
  h1.col-12{
    font-size: 400%;
  }
  .not-footer p {
    font-size: 150%;
  }
  img#pfp{
    margin-bottom: 20px;
  }
}
 /* really wide screens */
@media screen and (min-width: 1000px) and (max-height: 850px){
    body div.not-footer{
      margin-bottom: 67px;
    }
 }
@media screen and (min-width: 800px) and (max-height: 775px){
    body div.not-footer{
      margin-bottom: 67px;
    }
 }
@media screen and (min-width: 700px) and (max-height: 620px){
    body div.not-footer{
      margin-bottom: 67px;
    }
 }
