/* Colors:
Alabaster Grey: D8DBE2
Pacific Blue: 58A4B0
Charcoal Blue: 373F51
Carbon Black: 1B1B1E 
*/
h1{
  color: #373F51;
  padding: 50px 200px;
}
body.container {
  background-color: #D8DBE2;
  margin: 0px 0px 0px 0px;
}
p {
  color: #1B1B1E; 
}
/* let's make the navbar charcoal blue as base, pacific blue when hover*/
header#menu {
  list-style-type: none;
  background-color: #373F51;
  margin:0;
}
header#menu li{
  float: left;
}
header#menu li a{
  display: block;
  color: #1B1B1E;
  text-decoration: none;
  padding: 15px;
  text-align: center;
}
/* FOOTER */
footer {
  background-color: #373F51;
  margin: 0;
}
h2#footertitle{
  color: #D8DBE2;
  margin-top: 30px;
}
h2 div {
  margin: 10px 30px;
}
div a{
  color: #D8DBE2; 
  text-decoration: none;
}
